@use '../abstracts/variables' as *;

.u-blue {
  color: $primaryColor;
}

.u-bold {
  font-weight: 700;
}

.u-container {
  max-width: 960px;
  padding: 32px;
  margin: auto;
}

.u-shape {
  border-radius: 26px;
  display: block;
  padding: 14px 30px;
  margin: auto;
  width: 90%;
}

